html {
  background-color: #f2f2f2;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  font-weight: normal;
  margin: 0;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f2f2f2;
  margin: 0;
}

img {
  width: 100%;
  max-width: 25em;
  display: block;
  vertical-align: middle;
  padding: 1em;
}

h2 {
  color: #333;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
  margin-left: 0;
}

p {
  max-width: 25em;
  display: inline-block;
  text-align: left;
  margin-top: 0;
  margin-left: 0;
}

nav a {
  font-weight: normal;
  display: block;
  max-width: 25em;
  text-decoration: none;
  color: #333;
  padding: .5em;
}

nav a:hover {
  background-color: #666;
  text-decoration: none;
  color: white;
  padding: .5em;
}

.btn,
.btn:link {
  text-decoration: none;
  color: #333;
  background-color: #f2f2f2;
  border: 3px solid #333;
  border-radius: 5px;
  text-align: center;
  width: 8em;
}

section {
  text-align: center;
}

div {
  display: inline-block;
  padding: 1.5rem;
  max-width: 25em;
  vertical-align: middle;
  text-align: left;
}
