html {
  background-color: #f2f2f2;
  font-family: "leto", sans serif;
  line-height: 1.5;
  font-weight: normal;
  margin: 1.5rem;
}

img {
  width: 100%;
  max-width: 25em;
  display: inline-block;
}

h1 {
  color: #333;
  display: block;
}

p {
  max-width: 25em;
  display: inline-block;
}

nav {
  list-style-type: none;
  font-weight: normal;
  background-color: blue;
  display: inline-block;
  max-width: 25em;
}

a,
a:link {
  text-decoration: none;
  color: #333;
  background-color: #f2f2f2;
  padding: 1em;
  margin: : 1em;
  boderbox: 1em;
}

a:hover {
  background-color: #666;
  text-decoration: none;
  color: white;
  padding: 1em;
}
